@import-normalize; /* bring in normalize.css styles */

:root {
  --color-gray: #d7d7d7;
  --color-white: #ffffff;
  --color-dark-gray: #949494;
  --color-blue: #efefff;
  --color-light-gray: #ececec;
  --color-green: #00ff00;
  --color-red: #ff0000;
  --color-dark-blue: #9090ff;
  --color-purple: #800080;
  --color-dark-green: #023020;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
